* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.app {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

:root {
  --nav-w: 60px;
  --nav-item-s: calc(60px / 2);
  --nav-item-s: calc(var(--nav-w) / 2);
  --nav-phone-h: 60px;
}

.nav {
  position: fixed;
  z-index: 100;
  width: 60px;
  width: var(--nav-w);
  height: 100vh;
  background-color: #2B2B2B;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  .nav {
    position: fixed;
    --nav-w: 100vw;
    height: 60px;
    height: var(--nav-phone-h);
    --nav-item-s: 30px;
    bottom: 0;
    left: 0;
  }
}

.nav__items {
    display: flex;
    flex-flow: column nowrap;
    align-content: space-around;
    background-color: inherit;
    min-height: 100vh;
    list-style: none;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  .nav__items {
    flex-flow: row nowrap;
    min-height: 0;
    justify-items: center;
  }
}

.nav__items__item {
      width: calc(60px / 2);
      width: var(--nav-item-s);
      height: calc(60px / 2);
      height: var(--nav-item-s);
      margin: 32px auto 0 auto;
      cursor: pointer;
      position: relative;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  .nav__items__item {
    margin: calc((60px - calc(60px / 2)) / 2) auto;
    margin: calc((var(--nav-phone-h) - var(--nav-item-s)) / 2) auto;
  }
}

.nav__items__item:first-of-type {
  margin-top: calc((60px - calc(60px / 2)) / 1.5);
  margin-top: calc((var(--nav-w) - var(--nav-item-s)) / 1.5);
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  .nav__items__item:first-of-type {
    margin: auto;
  }
}

.nav__items__item__btn {
        background-color: transparent; 
        border: none;
        cursor: pointer;
        display: block;
}

.nav__items__item__icon, .nav__items__item__link, .nav__items__item__btn {
        width: calc(60px / 2);
        width: var(--nav-item-s);
        fill: #fefefe;
}

.nav__items__item__drawer {
        display: flex;
        flex-flow: column nowrap;
        position: fixed;
        left: 0;
        top: 0;
        z-index: -1;
        transition: .15s 0s ease-out;
        width: 16rem;
        height: 100vh;
        background-color: #3c3c3c;
        transform: translateX(-100%);
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  .nav__items__item__drawer {
    bottom: 0;
    top: auto;
    width: 100%;
    height: auto;
    transform: translateY(100%);
  }
}

.nav__items__item__drawer--open {
          transform: translateX(60px);
          transform: translateX(var(--nav-w));
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  .nav__items__item__drawer--open {
    transform: translateY(calc(60px * -1 + 1px));
    transform: translateY(calc(var(--nav-phone-h) * -1 + 1px));
  }
}

.nav__items__item__drawer__item {
          --h: 60px;
          --h: var(--nav-w);
          display: flex;
          align-items: center;
          width: 100%;
          height: var(--h);
          height: var(--h);
          padding: 0 5%;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  .nav__items__item__drawer__item {
    --h: 60px;
    --h: var(--nav-phone-h);
  }
}

.nav__items__item__drawer__item__link {          
            width: 100%;
            font-size: calc(var(--h) / 3.3);
            font-size: calc(var(--h) / 3.3);
            text-decoration: none;
            color: #fefefe;
            text-transform: capitalize;
}

:root {
	--sign-w: 27.9375rem;
	--form-pd: 70px;
	--form-item-h: 47px;
  --sign-title-fs: 25px;
  --sign-title-t: 25px;
}

.bg {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient(to bottom left, #059d8e, #a7ffa7);
	overflow-y: auto;
}

.sign {
	position: absolute;
	width: 27.9375rem;
	width: var(--sign-w);
	height: auto;
	right: 50%;
	top: 50%;
	transform: translate(calc(50% + 60px / 2), -50%);
	transform: translate(calc(50% + var(--nav-w) / 2), -50%);
	background-color: #ffffff;
	box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.16);
	display: flex;
	flex-flow: column nowrap;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #707070;
	z-index: 2;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  .sign {
    min-height: calc(100% - 60px);
    min-height: calc(100% - var(--nav-phone-h));
    --sign-w: 100%;
    left: 0;
    top: 0;
    transform: translate(0, 0);
    margin-bottom: 60px;
    margin-bottom: var(--nav-phone-h);
  }
}

.sign__error {
    position: fixed;
		width: 100%;
		min-height: 47px;
		min-height: var(--form-item-h);
    vertical-align: middle;
		background-color: #ff7070;
		animation: showup 0.2s 0s ease-out;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
    padding: 2%;
}

.sign__error__txt {
      color: #ffffff;
      text-align: center;
      word-wrap: break-word;
    }

.sign__title {
		font-size: 1.5625rem;
		font-size: var(--sign-title-fs);
		font-weight: 100;
		text-transform: uppercase;
		text-align: center;
		margin-top: 25px;
		margin-top: var(--sign-title-t);
		margin-bottom: 91px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  .sign__title {
    margin-bottom: 6vh;
  }
}

.sign__form {
		padding: 0 70px;
		padding: 0 var(--form-pd);
		display: flex;
		flex-flow: column nowrap;
		overflow-y: visible;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  .sign__form {
    --form-pd: 33px;
  }
}

.sign__form__part {
			width: 100%;
			display: flex;
			flex-flow: column nowrap;
			margin-bottom: 27px;
}

.sign__form__part:last-of-type {
  margin-bottom: 70px;
}

.sign__form__part__label {
				font-size: 0.8125rem;
				text-transform: capitalize;
				padding-left: 10px;
}

.sign__form__part__input {
				border: none;
				background-color: inherit !important;
				box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
				height: 47px;
				height: var(--form-item-h);
				font-size: calc(2.9375rem / 3);
				font-size: calc(var(--form-item-h) / 3);
				padding: 0 5%;
}

.sign__form__submit {
			background-color: #009688;
			text-align: center;
			font-size: 0.9375rem;
			justify-content: baseline;
			height: 47px;
			height: var(--form-item-h);
			color: #ffffff;
			font-weight: bold;
			border: none;
			box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
			margin-bottom: 108px;
}

.sign__txt {
		position: absolute;
		bottom: 36px;
		left: 50%;
		transform: translateX(-50%);
		text-align: center;
		width: 100%;
}

.sign__txt__link {
			color: #00eeff;
		}

@keyframes showup {
	from {
		transform: translateY(-100%);
	}
	to {
		transform: translateY(0%);
	}
}

:root {
	--posts-img-p: 33px;
}

.home {
	width: 100%;
	padding: 33px 33px 0 calc(33px - 5px + 60px);
	padding: var(--posts-img-p) var(--posts-img-p) 0 calc(var(--posts-img-p) - 5px + var(--nav-w));
	height: 100vh;
	overflow: hidden;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  .home {
    padding-left: calc(33px - 5px);
    padding-left: calc(var(--posts-img-p) - 5px);
  }
}

.posts {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template: 100% / 64% 1fr;
	grid-template-areas: 'img txt';
	grid-column-gap: 33px;
	grid-column-gap: var(--posts-img-p);
	overflow: hidden;
}

.posts__img,
	.posts__txt {
		display: flex;
		flex-flow: column nowrap;
		overflow-y: auto;
		cursor: pointer;
	}

.posts__img__switch, .posts__txt__switch {
			display: none
		}

.posts__img__switch ~ *, .posts__txt__switch ~ * {
  display: none;
}

.posts__img__switch:checked ~ *, .posts__txt__switch:checked ~ * {
  display: block;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  .posts__img__switch, .posts__txt__switch {
    display: block;
  }
}

.posts__img {
		grid-area: img;
		height: auto;
}

.posts__img__list {
			width: 100%;
			overflow-y: auto;
			column-count: 3;
			column-gap: 33px;
			column-gap: var(--posts-img-p);
			padding-right: 33px;
			padding-right: var(--posts-img-p);
			padding-left: 5px
		}

.posts__img__list::-webkit-scrollbar {
  width: 8px;
  background-color: inherit;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.17);
}

.posts__img__list::-webkit-scrollbar-thumb {
					background-color: #eeeeee;
}

.posts__img__list__item {
	margin-top: 1px !important;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	display: flex;
	flex-flow: column nowrap;
	background-color: #ffffff;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
				width: 100%;
				overflow: hidden;
				display: inline-block;
				margin-bottom: 33px;
}

.posts__img__list__item__body {
		padding: 0 15px;
		font-weight: 200;
		margin-bottom: 15px;
		white-space: pre-line;
	}

.posts__img__list__item__body {
					padding: 0;
					height: auto;
				}

.posts__img__list__item__body__img {
						width: 100%;
					}

.posts__img__list__item__body__content {
						padding: 0 15px;
						margin-top: 32px;
					}

.posts__txt {
		grid-area: txt;
}

.posts__txt__list {
			display: flex;
			flex-flow: column nowrap;
			width: 100%;
			height: 100%;
			overflow-y: auto;
		}

.posts__txt__list__item {
	margin-top: 1px !important;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	display: flex;
	flex-flow: column nowrap;
	background-color: #ffffff;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
			}

.posts__txt__list__item__body {
		padding: 0 15px;
		font-weight: 200;
		margin-bottom: 15px;
		white-space: pre-line;
	}

.modal {
  position: fixed;
  bottom: 0;
  left: 60px;
  left: var(--nav-w);
  width: calc(100vw - calc(60px / 2));
  width: calc(100vw - var(--nav-item-s));
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  .modal {
    height: calc(100vh - var(--nav-h));
    height: calc(100vh - var(--nav-h));
    width: 100vw;
    left: 0;
    bottom: var(--nav-h);
    bottom: var(--nav-h);
  }
}

.modal__click-catcher {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

:root {
	--post-h: 60vh;
	--post-aside-w: 20rem;
	--post-body-h: auto;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	:root {
		--post-aside-w: 100vw;
	}
  }

.post {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 60vh;
	height: var(--post-h);
	width: auto;
	display: flex;
	flex-flow: row nowrap;
	background-color: #F5F5F5;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.post__img {
		height: 100%;
		width: auto;
	}

.post__aside {
		width: 20rem;
		width: var(--post-aside-w);
		position: relative;
	}

.post__aside__header {
			background-color: #ffffff;
			box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.16);
		}

.post__aside__header .btns {
				background-color: transparent !important;
			}

.post__aside__header__body {
				width: 100%;
				padding: 0 15px;
				overflow: hidden;
				margin: 15px 0 6px 0;
				white-space: pre-line;
			}

.post__aside__comments {
			padding: 20px;
			width: 100%;
			height: auto;
			list-style: none;
		}

.post__aside__comments__item {
				height: auto;
				background-color: #ffffff;
				box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
			}

.post__aside__comments__item__author {
					margin-right: 6px;
					grid-template-columns: 1fr calc(6vh / 1.5) !important;
					grid-template-columns: 1fr var(--und-img-s) !important;
					grid-template-areas: 
						"author img"
						"date img"
					!important;
					text-align: right !important;
				}

.post__aside__comments__item__body {
					text-align: right;
					padding-right: 8px;
					padding-left: 15px;
					padding-bottom: 10px;
					font-size: 0.875rem;
				}

.post__aside__add {
			--h: 2.5rem;
			position: absolute;
			bottom: 0;
			width: 100%;
			height: var(--h);
			height: var(--h);
			line-height: var(--h);
			line-height: var(--h);
			text-align: center;
			font-size: 0.75rem;
			color: #707070;
			background-color: #ffffff;
			box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
			border: none;
		}

:root .btns {
		--h: 5vh;
		--item-h: calc(var(--h) / 2.2);
		--item-h: calc(var(--h) / 2.2);
		--item-fs: calc(var(--item-h) / 1.5);
		--item-fs: calc(var(--item-h) / 1.5);
		background-color: #eeeeee;
		display: flex;
		flex-flow: row nowrap;
		padding: calc((var(--h) - var(--item-h)) / 2) 15px;
		padding: calc((var(--h) - var(--item-h)) / 2) 15px;
	}

:root .btns__btn {
			--c: #707070;
			display: flex;
			flex-flow: row nowrap;
			text-align: center;
			-webkit-appearance: none;
			border: none;
			background-color: transparent;
			margin-right: 13px;
      cursor: pointer;
		}

:root .btns__btn__icon svg {
				height: var(--item-h);
				height: var(--item-h);
				margin-right: 2.5px;
				fill: var(--c);
				fill: var(--c);
			}

:root .btns__btn__counter {
				display: block;
				height: var(--item-h);
				height: var(--item-h);
				width: auto;
				line-height: calc(var(--item-h) + 0.0625rem);
				line-height: calc(var(--item-h) + 1px);
				font-size: var(--item-fs);
				font-size: var(--item-fs);
				color: var(--c);
				color: var(--c);
			}

:root {
  --und-h: 6vh;
	--und-img-s: calc(6vh / 1.5);
	--und-img-s: calc(var(--und-h) / 1.5);
}

.und {
	--und-h: 6vh;
	--txt-h: calc(calc(6vh / 1.5) / 2);
	--txt-h: calc(var(--und-img-s) / 2);
	height: 6vh;
	height: var(--und-h);
	display: grid;
	grid-template: repeat(2, var(--txt-h)) / calc(6vh / 1.5) 1fr;
	grid-template: repeat(2, var(--txt-h)) / var(--und-img-s) 1fr;
	grid-template-areas:
		'img author'
		'img date';
	padding: calc((6vh - calc(6vh / 1.5)) / 2) 0;
	padding: calc((var(--und-h) - var(--und-img-s)) / 2) 0;
	column-gap: 10px;
	padding-left: 15px;

	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.und__img {
		grid-area: img;
		height: calc(6vh / 1.5);
		height: var(--und-img-s);
		width: var(--und-img-s);
		border-radius: 50%;
		margin: auto;
	}

.und__author,
	.und__date {
		font-size: 0.875rem;
		line-height: var(--txt-h);
		line-height: var(--txt-h);
	}

.und__author {
		grid-area: author;
	}

.und__date {
		grid-area: date;
	}

:root {
	--add-modal-w: 40rem;
	--add-modal-top-btn-s: 4vh;
	--add-modal-top-p: 10px;
	--add-modal-top-h: calc(
		4vh + 10px + 2px
	);
	--add-modal-top-h: calc(
		var(--add-modal-top-btn-s) + var(--add-modal-top-p) + 2px
	);
	--add-modal-bottom-h: 4vh;
	--add-modal-bottom-p: 5px;
  --add-modal-bottom-btn-s: 2rem;
	--add-modal-profile-img-s: 2.5rem;
}

.add {
	position: fixed;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
	background-color: #ffffff;
	width: 40rem;
	width: var(--add-modal-w);
	z-index: 10;
	cursor: default;
}

.add__top {
		height: calc(
		4vh + 10px + 2px
	);
		height: var(--add-modal-top-h);
		background-color: inherit;
		position: relative;
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
			Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	}

.add__top__img {
			position: absolute;
			left: 50%;
			top: -50%;
			transform: translate(-50%, 10%);
			height: 2.5rem;
			height: var(--add-modal-profile-img-s);
			width: var(--add-modal-profile-img-s);
			border-radius: 50%;
		}

.add__top__exit {
	-webkit-appearance: none;
	appearance: none;
	border: none;
	background-color: transparent;
			position: absolute;
			right: 10px;
			right: var(--add-modal-top-p);
			top: var(--add-modal-top-p);
			width: 4vh;
			width: var(--add-modal-top-btn-s);
			height: var(--add-modal-top-btn-s);
			cursor: pointer;
			fill: #1b1b1b;
		}

.add__body {
		padding: 0 14px 20px 14px;
	}

.add__body__txt {
			font-size: 1.0625rem;
			border: none;
			font-weight: 200;
      width: 100%;
      height: auto;
      white-space: pre-line;
      word-wrap: break-word;
      resize: vertical;
		}

.add__body__img {
			display: block;
			max-width: 80%;max-height: 50vh;
			height: auto;
			margin: 10px auto;
		}

.add__bottom {
    position: relative;
		height: auto;
		background-color: #eeeeee;
		width: 100%;
		display: flex;
		flex-flow: row nowrap;
		padding: 5px 15px;
		padding: var(--add-modal-bottom-p) 15px;
	}

.add__bottom__btn {
	-webkit-appearance: none;
	appearance: none;
	border: none;
	background-color: transparent;
      height: 2rem;
      height: var(--add-modal-bottom-btn-s);
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      margin-right: 12.5px;
      margin-bottom: -2px;
      fill: #1b1b1b;
			cursor: pointer;
		}

.add__bottom__btn__txt {
        line-height: 2rem;
        line-height: var(--add-modal-bottom-btn-s);
        margin-left: 4px;
        color: #1b1b1b;
				font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
				font-size: 0.875rem;
      }

.add__bottom__btn--submit {
        fill: #009688;
      }

.add__bottom__btn--submit .add__bottom__btn__txt {
          color: #009688;
        }

.injected-svg {
  margin: auto;
}